<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
                        <div class="panel-heading">
                           <%= 
                           if (params[:action] =="new")
                            "New Product"
                          elsif (params[:action] == "edit")
                            @product.name# = Product.find(params[:id]))
                          else
                            "New Product"
                          
                          end
                            %>
                        </div></div>
  <div class="row">
          <div class="col-md-6">
               <!-- <div class=" form-group">
                    <%= f.label :pid %><br>
                    <%= f.text_field :pid ,:class =>"form-control", :placeholder => "0000001" %>
                </div> take out product id form now, this would be autogen-->

                <div class="form-group">
                    <%= f.label :name %><br>
                    <%= f.text_field :name ,:class =>"form-control", :placeholder => "product name e.g round neck vintage T-shirt" %>
                </div>

                <div class="input-field col s6">
        <input id="first_name" type="text" class="validate">
        <%= f.text_field :name ,:class =>"form-control", :placeholder => "product name e.g round neck vintage T-shirt" %>
        <label for="first_name">First Name</label>
      </div>


  <div class="form-group">
    <%= f.label :item_type %> <br>  
    <%= f.select(:item_type, options_for_select(Product::SystemDefaults::ITEM_TYPES_VAL.to_a), {},:class=>"form-control") %>
   
  </div>
  <div class="form-group">
    <%= f.label :has_options %> i.e item has different sizes or colors e.t.c<br>  
     <%= f.select(:has_options, options_for_select([["No",0],["Yes",1]]), {},:id=>"hasoptionsdiv", :class=>"form-control") %>
       <div class="form-group" hidden>
        <br>
      <%= f.label "Select options" %><br>  
      
      <%= label_tag 'size', 'Size', class: 'checklabel'%>
       <%= check_box_tag 'size', 's', false, class: 'thumbcheck' %>

        <%= label_tag 'color', 'Color', class: 'checklabel' %> 
        <%= check_box_tag 'color', 'c', false, class: 'thumbcheck' %>
      
          <div id="sizediv" class="form-group" hidden >
            <%= f.label :size %><br>
            <%= f.select(:size, options_for_select(Product::SystemDefaults::SIZES.to_a), {}, :class=>"form-control") %>
          </div>

          <div id="colordiv" class="form-group" hidden>
          <%= f.label :color %><br>
          <%= f.select(:color, options_for_select(Product::SystemDefaults::COLORS.to_a), {},:class=>"form-control") %>
        </div>

        </div>

  </div>
  
  <!-- iif option above is yes, appropiate form is load below -->

  <script>
/* custom js - ayo */

$('#hasoptionsdiv').on('change', function() 
  {
    if(this.value == 0)
      {
        $(this).next("div").hide();
      }
    else
      $(this).next("div").show();
  })

 
 $(".thumbcheck").click(function()
 {
      if(this.value == "s")
      {
        $("#sizediv").toggle(); 
      }
      else if(this.value=="c")
        $("#colordiv").toggle(); 
      
 
});




/* custom js - ayo end */
  
  </script>
  

      </div>

    <div class="col-md-6">

   <div class="form-group input-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, :class=>"form-control", :placeholder => "0.00" %>
  </div>  
  <div class="form-group input-group">
    <%= f.label "How many in stock"%><br>
    <%= f.number_field :stock_left, :class=>"form-control" %>
  </div>
  
  <div class="form-group input-group">
    <%= f.label :for_sex %><br>
   <%= f.select(:for_sex, options_for_select([["Male","M"],["Female","F"],["Unisex","U"]]), {},:class=>"form-control") %>
  </div>

  <div class="form-group input-group">
    <%= f.label "Is item On Shelf" %><br>
    <%= f.select(:is_active, options_for_select([["Yes",1],["No",0]]),{},:class=>"form-control"  ) %>
  </div>


<div class="form-group input-group">
  <br>
   Upload picture 
  </div>

            <div class="col-md-4 col-lg-4 col-sm-2">

             <div class="field">

                <%= if (params[:action] =="new")
                 image_tag "item_placeholder_small.png",class:"image", style:"text-align:center;"
                 elsif (params[:action] =="edit")
                  image_tag @product.image_path.url(:small)
                else
                   image_tag "item_placeholder_small.png",class:"image", style:"text-align:center;"

                 end %>
                  <%= f.file_field :image_path %>
            </div>

            </div>

           


            <div class="col-md-2 col-lg-2 col-sm-0">

             <div class="field">
                
            </div>

            </div>
        
  <!--   <div class="col-md-4 col-lg-4 col-sm-2">
              <div class="field">
                <% if (params[:action] == "new") %>
                    <i class='fa fa-qrcode' style='font-size:135px;color:#e1e1e1'></i>
                 <% elsif (params[:action] =="edit")
                     image_tag @product.barcode_path.url(:small)
                   else %>
                      <i class='fa fa-qrcode' style='font-size:135px;color:#e1e1e1'></i>
                 <% end %>

              </div>
    </div> -->


    <div class="col-md-4 col-lg-4 col-sm-2">
              <div class="field">  


                
                 
              </div>
            </div>


            <div class="col-md-2 col-lg-2 col-sm-0">
              <div class="field">     
                   
              </div>
            </div>

            
<!--
            <div class="col-md-4 col-lg-4 col-sm-2">
              <div class="field">            
                    <%= f.file_field :barcode_path %>
              </div>
            </div> -->
     <br><br><br>

              <div class="field">
           <div class="actions" style="text-align:right;">
           <p> <%= f.submit  :class =>"btn btn-primary", data: { disable_with: 'Saving Product...' } %></p>
          </div>
        </div>
      

    </div>
   
          
</div>
  
<% end %>


  
