<div class="tabs-wrapper ">
  <div class="row white highzindex pin-top removemarginbottom top-width-fix" >
    
    <div class="col s12">
        <center>
        <ul class="tabs" style="width:100%;">
         
              <li class="tab"><a href="#all_items">All Items</a></li>
              <li class="tab"><a href="#male">Male</a></li>
              <li class="tab"><a href="#female">Female</a></li>
              <li class="tab"><a href="#unisex">Unisex</a></li>
       
        </ul>
        </center>

    </div> 
  </div>           
</div>

      <div class="container">
          <div class="row ">
           
             <div id="all_items" class="col s12">

                <% @products.each do |all_item| %>  
                <% #binding.pry %>
                   <div class="col s12 m6 l4 card noshadow ">
                      <div class="card-image waves-effect waves-block waves-light">

                            <%= link_to (image_tag all_item.image_path.url(:thumb),class:"image", style:"text-align:center;"),  all_item %>

                      </div>
                      
                      <%= link_to (new_cart_path(prod_id: all_item.id)), remote: true do %>
                      <div class="card-content add-item addtocartdiv" >
                        <span class="fontfamoveride activator grey-text text-darken-4" ><span><%= all_item.name %> </span>
                          <i class="mdi-content-add right"></i>
                        </span>
                         
                        <span  class="grey-text text-darken-3"> 
                          <p><%= all_item.price %> <%= Product::SystemDefaults::CURRENCY %><span hidden> x </span>  <span></span> 
                          <%= link_to  edit_cart_path("dee"),  remote: true do %>
                          
                            <i class="remove-fix remove-from-cart mdi-content-remove right" hidden ></i>
                               <% end %> </p>
                        </span>
                        
                      </div>
                      <% end %>

                      <div class="card-reveal" >
                           <span class="card-title grey-text text-darken-4 flow-text"><%= all_item.name %> 
                            <i class="mdi-navigation-close right"></i></span>
                              <p style="width:inherit;">In stock and available in all sizes and all colors</p>
                        </div>
                  </div>
                <% end %>
              </div> <!-- end of all items -->

              <div id="male" class="col s12">
                            <!-- just before the items, a sub cat nav bar -->
                                <div class="tabs-wrapper">
                                  <div class="row white z-depth-1 pin-top top-width-fix" >
                              
                                    <div class="col s12">
                                        <center>
                                            <ul class="tabs" style="width:100%;">
                                             
                                                  <li class="tab"><a href="#shirts">Shirts</a></li>
                                                  <li class="tab"><a href="#polosandtees">Polos and Tees</a></li>
                                                  <li class="tab"><a href="#trad">Traditional</a></li>
                                                  <li class="tab"><a href="#pants">Pants</a></li>
                                                  <li class="tab"><a href="#pants">Accessories</a></li>
                                           
                                            </ul>
                                        </center>
                                    </div> 
                              </div>           
                            </div>
                          <!-- just before the items, a sub cat nav bar -->
              <div id="shirts" class="col s12">
                <% @products.each do |product| %>  
                      <div class="col s12 m6 l4 card noshadow ">
                          <div class="card-image waves-effect waves-block waves-light">
                                <%= link_to (image_tag product.image_path.url(:thumb),class:"image", style:"text-align:center;"),  product %>
                          </div>
                          
                          <div class="card-content addtocartdiv">
                            <span class="card-title activator grey-text text-darken-4" ><%= product.name %> 
                              <i class="mdi-navigation-more-vert right"></i></span>
                              <p> <%= product.price %> <%= Product::SystemDefaults::CURRENCY %>  | 
                                <%= if (product.in_stock =="0")
                                      "Out of stock"
                                    elsif "n"
                                end %>
                              </p>
                          </div>
                    
                          <div class="card-reveal">
                               <span class="card-title grey-text text-darken-4 flow-text"><%= product.name %> <i class="mdi-navigation-close right"></i></span>
                                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                      </div>
                <% end %>
              </div>
              <div id="polosandtees" class="col s12">Polos</div>
            </div>


              <div id="female" class="col s12">
                <% @products.each do |product| %>  
                  <div class="col s12 m6 l4 card noshadow ">
                      <div class="card-image waves-effect waves-block waves-light">
                            <%= link_to (image_tag product.image_path.url(:thumb),class:"image", style:"text-align:center;"),  product %>
                      </div>
                      
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" ><%= product.name %> 
                          <i class="mdi-navigation-more-vert right"></i></span>
                          <p> <%= product.price %> <%= Product::SystemDefaults::CURRENCY %>  | 
                            <%= if (product.in_stock =="0")
                                  "Out of stock"
                                elsif "n"
                            end %>
                          </p>
                      </div>
                
                      <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4 flow-text"><%= product.name %> <i class="mdi-navigation-close right"></i></span>
                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                  </div>
                <% end %>
              </div>
             



             <div id="unisex" class="col s12">
                <% @products.each do |product| %>  
                  <div class="col s12 m6 l4 card noshadow ">
                      <div class="card-image waves-effect waves-block waves-light">
                            <%= link_to (image_tag product.image_path.url(:thumb),class:"image", style:"text-align:center;"),  product %>
                      </div>
                      
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4" ><%= product.name %> 
                          <i class="mdi-navigation-more-vert right"></i></span>
                          <p> <%= product.price %> <%= Product::SystemDefaults::CURRENCY %>  | 
                            <%= if (product.in_stock =="0")
                                  "Out of stock"
                                elsif "n"
                            end %>
                          </p>
                      </div>
                
                      <div class="card-reveal">
                           <span class="card-title grey-text text-darken-4 flow-text"><%= product.name %> <i class="mdi-navigation-close right"></i></span>
                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                  </div>
                <% end %>
              </div>

            
            </div> <!-- end of row -->
      </div> <!-- end of container -->


          
       
