
<h2><%= @product.name %></h2>
<span style="float:right;font-size:11px; color:gray;">item id:  <%= @product.pid %></span>  
 <div class="col-md-6">
<%= image_tag @product.image_path.url(:medium),class:"image", style:"text-align:center;" %>
</div>

 <div class="col-md-6 col-lg-6 col-sm-2">

  <p>
    <h3>Price: <%= @product.price  %> <%= Product::SystemDefaults::CURRENCY %></h3>

        <h4>Color: <%= @product.color %></h4>
        <h4>Bought: <%= pluralize(@product.bought_times.to_i, "time")  %></h4>
        <h4>Last Bought: <%= @product.last_bought  %></h4>
        <h4>Item type: <%= @product.item_type %></h4>
        <h4>Size: <%= @product.size %></h4>
        <h4>In Stock: <%= @product.in_stock %> |  <%= @product.stock_left %> left</h4>
        <h4>Item type: <%= @product.item_type %></h4>
        <h4>Sex: <%= @product.for_sex %></h4>
       <!-- <h4>Variant: <%= @product.has_variant %></h4> -->
        <h4>On Shelf: <%= @product.is_active %></h4>
        





  <div class="row">
      <div style="float:left;" class="col-md-6 col-lg-6 col-sm-2">
            <%=  image_tag "barcode_sample.png", width:'150px' %>
      </div>
      <div style="float:left;" class="col-md-6 col-lg-6 col-sm-2">
        <p style="font-size:60px;  vertical-align: middle;line-height:200%; "><%= pluralize(@product.scanned_times,'hit') %></p>
      </div>

</div>

      <h5>Last Scanned:</h5><%=  @product.last_scanned %>
     






<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

</div>