<!DOCTYPE html>
<html>




<head>
  <title>CaptureIT</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'screen,projection', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>




</head>
<ul id="account" class="dropdown-content">
  <li><a href="#!">Change password</a></li>
  <li><a href="#!">Settings</a></li>
  <li class="divider"></li>
  <li> <% if user_signed_in? %>
  Logged in as <%= current_user.email %> | Last access : 30 May 2014 | 
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-danger square-btn-adjust'  %>
<% else %>
  <%= link_to "Login", new_user_session_path, :class => 'btn btn-danger square-btn-adjust'  %> |
  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-danger square-btn-adjust'  %> 
<% end %></li>
  <li><a href="#!">Logout</a></li>
</ul>
<div class="navbar-fixed">
<nav class="#880e4f red darken-4" role="navigation">
    <div class="container">
 <a href="#" class="brand-logo">CaptureIT</a>
     
      
        <ul id="nav-mobile" class="right side-nav">
          
          <li><a href="/dashboard"  class="small mdi-action-dashboard">  News Dashboard</a></li>
          
       

        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </div>
  </nav>
</div>

   <% if notice %>
                        <h4><span class="font-size:15px; color:white; background:light-blue;" ><%= notice %></span></h4>
                      <% end %>
                      <% if alert %>
                       <span class="color:red;"> <%= alert %></span>
                      <% end %>
    <main>
        <%= yield %>
    </main>

    <div class="container">
      <div class="row center">
       
      </div>
    </div>

 


  
   
  </div>

  <footer class="black">
   
    <div class="footer-copyright">
      <div class="container">
        
     Made with <img src=http://icons.iconarchive.com/icons/graphicloads/100-flat-2/256/favourite-heart-icon.png width=20px /> at the <a class="" href="http://meltwater.org">Meltwater school//VODAFONE Hackathon</a>
      </div>
    </div>
  </footer>  


  <!--  Scripts-->

   
 <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
   <%= javascript_include_tag 'application' %>
</html>


         
                    
          